.el-badge {
  &__content {
    &--primary {
      background-color: theme("colors.primary") !important;
    }
    &--white {
      background-color: theme("colors.white") !important;
      color: theme("colors.primary") !important;
      border: 1px solid theme("colors.primary") !important;
    }
  }
}
