.pop-menu {
  padding: unset !important;
  &--trigger {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 9000;
  }
  &--items {
    .el-space {
      &__item {
        &:nth-last-child(1) {
          padding: unset !important;
        }
        width: 100%;
      }
    }
    .is-active {
      background-color: theme("colors.secondary");
      color: theme("colors.primary");
    }
  }
}
